<html>
    <head>
        <meta charset="utf-8">
        <meta http="X-UA-Compatible" content="IE=edge">
        <title>NeuraPlayer Chess</title>

        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap"
        rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='board.min.cs') }}s">
        <script src="{{ url_for('static', filename='jQuery-v3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='chessboard.min.js') }}"></script>
        <script src="{{ url_for('static', filename='chess.min.js') }}"></script>
    </head>

    <body>
        <div  style="
            font-size: 18px; font-family: 'Barlow';
            position: fixed; top: 35%; left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        ">
            <h3 style="font-size: 2.0rem;">NeuraPlayer</h3>
            <button onclick="newGame()">New Game</button><br><br>
            <p id="caption" style="margin-top: 0px;">You go man!</p>
            <div id="board" style="width: 400px; transform: translate(0%, 0%)"></div>
        </div>

<script type="text/javascript">
// board visualization and games state handling starts here
var onDragStart = function (source, piece, position, orientation) {
    if (game.in_checkmate() === true || game.in_draw() === true || piece.search(/^b/) !== -1) {
        return false;
    }
};

function onDrop(source, target) {
    var move = game.move({
        from: source,
        to: target,
        promotion: 'q'
    });
    console.log(move)
    if (move == null) {
        return 'snapback';
    }

    $.get(
        url = "/move",
        data = {from: source, to: target, piece: move.piece},
        function (move_payload) {
            // update the board state
            console.log('move_payload>>>', move_payload)
            if (move_payload.content != null){
                document.getElementById("caption").innerHTML = move_payload.content;
            }
            board.position(position = move_payload.board_state, useAnimation = true);
            game.move({
                from: move_payload.from_square,
                to: move_payload.to_square
            })
            // console.log('game>>>', game);
        }
    )
    
};

 function onSnapEnd () {
    console.log('Done with onSnapEnd');
};


// function for new game
function newGame() {
    // reload the same page
    document.location.reload()
}


// define the functions
var game = new Chess()
var ruyLopez = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R'
var board = ChessBoard('board',{
    draggable: true,
    position: 'start',
    onDragStart,
    onDrop,
    onSnapEnd
});

</script>

    </body>
    
</html>